
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Admin_Login</title>
</head>
<body>
    <div> 
        <form method="post" >
            <input type="text" name="email" />
            <input type="password" name="password" />
            <input type="submit" value="Login" />
        </form>
    </div>
</body>
</html>
