@model System.Data.DataTable
@{
    ViewBag.Title = "CourseCategoryManagement";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}
<div class="header-two-title text-center" data-aos="fade-up">
    <p class="tagline">Welecome To Course Category Mangagement</p>
    <h2>Thankyou For Visting</h2>
</div>


<div class="col-xl-12 col-lg-8 col-md-12">
    <div class="row">
        <div class="col-md-12">
            <div class="settings-widget">
                <div class="settings-inner-blk p-0">
                    <div class="comman-space pb-0">
                        <div class="settings-tickets-blk course-instruct-blk table-responsive">

                            <table class="table table-nowrap mb-0" id="myTable">
                                <thead>
                                    <tr>
                                        <th>SR</th>
                                        <th>CATEGORY NAME</th>
                                        <th>ICON</th>
                                        <th>STATUS</th>
                                        <th>ACTION</th>
                                    </tr>
                                </thead>
                                <tbody>
                                 @if (Model != null)
                                 {
                                     if (Model.Rows.Count > 0)
                                     {
                                         int i = 1;
                                         foreach(System.Data.DataRow row in Model.Rows)
                                         {
                       <tr>
                           <td>@i</td>
                           <td>@row["catname"]</td>
                           <td><img src="~/Content/pic/@row["catpic"]" height="70px" width="70px"/></td>
                           <td>@row["status"]</td>
                           <td>
                               <a href="/admin/CourseCategoryManagement?id=@row["catid"]" onclick="return confirm('Do you really want to delete it?')">  <button class="btn btn-danger fa fa-trash" title="Delete"></button></a>
                               <a href="/admin/EditCourseCategory?eid=@row["catid"]"><button class="btn btn-success fa fa-pencil" title="Edit Record"></button></a>

                                   <a href="/admin/CourseCategoryManagement?catid=@row["catid"]" onclick="return confirm('Do you really want to change the status?')">     <button class="btn btn-primary fa fa-refresh" title="Change Status"></button></a>
</td>
                       </tr>
                                             { i = i + 1; }
                                         }
                                     }
                                 }
                              
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Content/assets/js/jquery-3.6.0.min.js"></script>

