
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_GeneralLayoutPage1.cshtml";
}
<style>

    .box {
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
        padding-top: 10px;
    }

    input:hover {
        background-color: lightgrey;
    }
</style>
<body>

    <section class="page-content course-sec">
        <div class="container ">

            <div class="row">
                <div class="col-md-12 mx-auto">

                    <div class="card">

                        <div class="widget-set">

                            <div class="widget-content multistep-form">

                                <div class="add-instructor-form">
                                    <div class="row ">
                                        <div class="col-sm-6 mx-auto box">

                                            <form id="cform" method="post" enctype="multipart/form-data">

                                                <center>
                                                    <div class="add-instructor-inner-header ms-5">
                                                        <h4 class="fw-bold dt-center mt-2 me-3 mb-3" style="color:#392c7d">CHANGE PASSWORD</h4>
                                                    </div>
                                                </center>
                                                <div class="row">
                                                    <div class="col-sm-11 ms-4 me-4">
                                                        <div class="form-group">
                                                            <input type="password" class="form-control" placeholder="Old Password" name="oldpassword">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-11 ms-4 me-4">
                                                        <div class="form-group">
                                                            <input type="password" class="form-control" placeholder="New Password" name="password">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-11 ms-4 me-4">
                                                        <div class="form-group">
                                                            <input type="password" class="form-control" placeholder="Confirm Password" name="cpassword">
                                                        </div>
                                                    </div>
                                                </div>
                                                <input type="submit" class="login-head button mb-4 ms-4 mt-4" value="Update Password" />

                                            </form>
                                        </div>
                                    </div>
                                    <div class="col-sm-7">

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
<script src="~/Content/assets/js/jquery-3.6.0.min.js"></script>
<script>
        function checkpassword() {
            var password = $("#password")
            var cpassword = $("#cpassword")
            if (password.val() == cpassword.val()) {
                $.ajax({
                    url: "/home/PasswordReset",
                    type: "post",
                    data: password,
                    success: function (res) {
                        alert(res)
                        location.href ='/home/login'
                    }
                })
            }
            else {
                alert("Password and Confirm Password Must Be Same")
            }
        }
</script>





